.u-section-1 .u-sheet-1 {
  min-height: 113px;
}

.u-section-1 .u-image-1 {
  width: 66px;
  height: 99px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -62px 732px 37px 86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 98px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -61px;
    margin-right: 618px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 264px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 120px auto 60px;
}